<div class="container">
    <mat-table #table [dataSource]="requests">

        <ng-container matColumnDef="method">
            <mat-header-cell *matHeaderCellDef [ngClass]="'small-cell'"> Method</mat-header-cell>
            <mat-cell *matCellDef="let element" [ngClass]="'small-cell'"> {{element.method}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="url">
            <mat-header-cell *matHeaderCellDef> URL</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.url}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="origin">
            <mat-header-cell *matHeaderCellDef> IP</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.originIp}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="time">
            <mat-header-cell *matHeaderCellDef> Time</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.time | date : 'HH:mm:ss dd. MMM' }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="action">
            <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>
            <mat-cell *matCellDef="let element">
                <button mat-raised-button color="warn" (click)="onDelete($event,element)">delete</button>
            </mat-cell>
        </ng-container>


        <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"
                 [ngClass]="{selected: selectedId == row.id}"
                 (click)="onSelect(row)"
        >
        </mat-row>
    </mat-table>
</div>


