:host {
  width: 100%;
}


mat-row:hover {
  background: rgba(0,0,0,0.05);
  cursor: pointer;

  button {
    cursor: default;
  }
}

.selected {
  background: rgba(0,0,0,0.1);
}

.small-cell {
  $cellWidth: 13em;
  max-width: $cellWidth;
  &.mat-header-cell {
    max-width: $cellWidth + 2em;
  }
}
