:host {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}

.wrap {
  height: 100%;
  padding: 30px 30px  0 30px;
}

.list-wrap {
  overflow: auto;
}

.list-wrap {
  grid-area: list;
}

.info-wrap {
  grid-area: info;
}

.meta-wrap {
  grid-area: meta;
}

.body-wrap {
  grid-area: body;
  width: 100%;
}

.grid {
  height: 100%;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: minmax(auto,260px)  min-content auto;
  grid-template-areas:
    "list list"
    "info meta"
    "body body";
}

@media (max-device-width: 900px) {
  .grid {
    grid-template-columns: 1fr;
    grid-template-areas:
      "list"
      "info"
      "meta"
      "body";
  }
}