<div class="wrap">
    <div class="grid">
        <div class="list-wrap">
            <app-request-list [requests]="requests" (selectedRequest)="onSelect($event)"
                              (deleteRequest)="onDelete($event)"></app-request-list>
        </div>

        <div class="info-wrap">
            <app-request-info [request]="selectedRequest"></app-request-info>
        </div>

        <div class="meta-wrap">
            <app-request-meta [request]="selectedRequest"></app-request-meta>
        </div>

        <div class="body-wrap">
            <app-request-body [request]="selectedRequest"></app-request-body>
        </div>
    </div>
</div>