/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@import '~@angular/material/prebuilt-themes/purple-green.css';
@import '~@angular/material/theming';

$custom-typography: mat-typography-config(
        $font-family: 'Fontil Sans, monospace',
        $headline: mat-typography-level(32px, 48px, 700),
        $body-1: mat-typography-level(16px, 24px, 500)
);
@include angular-material-typography($custom-typography);


@include mat-core();



$dark-primary: mat-palette($mat-blue-grey);
$dark-accent:  mat-palette($mat-amber, A400, A400, A400);
$dark-warn:    mat-palette($mat-deep-orange);
$dark-theme:   mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

html {
  background: #303030;
}

