<mat-card *ngIf="_request" class="example-card">
    <mat-card-content>
        <div class="card-header">
            <span *ngIf="_request.method" class="method">{{ _request.method}} </span>
            <span class="url">{{ _request.url}}</span>
            <span class="protocol">{{ _request.protocol}}</span>
        </div>
        <hr>
        <h3>Header</h3>
        <table class="table-headers" mat-table [dataSource]="requestHeaders">
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Name</th>
                <td mat-cell *matCellDef="let element"> {{element.key}} </td>
            </ng-container>

            <ng-container matColumnDef="value">
                <th mat-header-cell *matHeaderCellDef> Value</th>
                <td mat-cell *matCellDef="let element"> {{element.value}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

    </mat-card-content>
</mat-card>