@import '~src/variables.scss';


mat-card-header {
  margin: 0;

  .mat-card-header-text {
    margin: 0;
  }
}

.card-header {
  font-weight: bold;
  font-size: 1.3em;

  .method {
    color: $dark-accent-text;
    margin-right: 0.8em;
  }

  .url {
    font-weight: normal;
    font-size: 1.2em;
  }

  .protocol {
    color: $dark-accent-text;
    float: right;
  }
}


mat-card-content {
  h3 {
    margin: 0 0 0 8px;
    font-weight: bold;
  }
}


.table-headers {
  width: 100%;
}

th.mat-header-cell:first-of-type, td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type {
  padding-left: 8px;
}

tr.mat-row, tr.mat-footer-row {
  height: 32px;
}