:host {
  display: block;
  height: 100%;
}

pre {
  padding: 16px 20px;
  background: #2b2b2b;
  color: white;
  white-space: pre;
  overflow: auto;
}

pre.code {
  margin: 20px 25px;
  border-radius: 4px;
  border: 1px solid #2c2c31;
  position: relative;
}

pre span:before {
  content: counter(line);
  display: inline-block;
  border-right: 1px solid #ddd;
  padding: 0 .5em;
  margin-right: .5em;
  color: #888
}