@import "../variables";

:host {
  height: 100%;
}

.nav {
  grid-area: nav;
  overflow: auto;
}

.sidebar {
  grid-area: sidebar;
}

.body {
  grid-area: body;
  height: 100%;
}

.grid {
  height: 100%;
  width: 100%;
  display: grid;
  grid-gap: 0;
  grid-template-columns: $sidebarWidth auto;
  grid-template-rows: min-content auto;
  grid-template-areas:
    "nav nav"
    "sidebar body";
}
