<div class="grid">

    <div class="nav">
        <app-topnav></app-topnav>
    </div>

    <div class="sidebar">
        <app-sidebar></app-sidebar>
    </div>

    <div class="body">
        <router-outlet></router-outlet>
    </div>
</div>

