@import "../../../variables";

//app-sidebar {
//  position: relative;
//  display: inline-block;
//  height: 100%;
//  width: $sidebarWidth;
//}

#sidebar {
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  background: rgba(0,0,0,0.1);
  box-shadow: 3px 2px 6px rgba(0, 0, 0, 0.24);
  //z-index: 100;
  -ms-overflow-y: auto;
  overflow-y: auto;

  .mat-nav-list {
    width: 100%;

    a {
      .mat-icon {
        margin-right: 15px;
      }
      display: block;
    }
  }
}


body.sidebar-hidden {
  #sidebar {
    display: none !important;
    width: 0;
  }
}

@media screen and (max-width: 992px) {
  #sidebar {
    left: -250px;
  }
}

