<div id="sidebar">
    <mat-nav-list>

        <a mat-list-item [routerLink]="['/bin']" >
            <mat-icon class="sidenav-icon">restore_from_trash</mat-icon> Request Bin
        </a>
        <a mat-list-item  [routerLink]="['/debug']">
        <mat-icon class="sidenav-icon">bug_report</mat-icon> debug
        </a>
    </mat-nav-list>
</div>
