<div *ngIf="cookies.length > 0">
    <span>Cookies</span>
    <hr>
    <table class="table-cookies" mat-table [dataSource]="cookies">
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name</th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="value">
            <th mat-header-cell *matHeaderCellDef> Value</th>
            <td mat-cell *matCellDef="let element"> {{element.value}} </td>
        </ng-container>

        <ng-container matColumnDef="domain">
            <th mat-header-cell *matHeaderCellDef> Domain</th>
            <td mat-cell *matCellDef="let element"> {{element.domain}} </td>
        </ng-container>

        <ng-container matColumnDef="maxAge">
            <th mat-header-cell *matHeaderCellDef> MaxAge</th>
            <td mat-cell *matCellDef="let element"> {{element.maxAge}} </td>
        </ng-container>

        <ng-container matColumnDef="secure">
            <th mat-header-cell *matHeaderCellDef> Secure</th>
            <td mat-cell *matCellDef="let element"> {{element.secure}} </td>
        </ng-container>

        <ng-container matColumnDef="httpOnly">
            <th mat-header-cell *matHeaderCellDef> HttpOnly</th>
            <td mat-cell *matCellDef="let element"> {{element.httpOnly}} </td>
        </ng-container>

        <ng-container matColumnDef="comment">
            <th mat-header-cell *matHeaderCellDef> Comment</th>
            <td mat-cell *matCellDef="let element"> {{element.comment}} </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>