.nav-brand {
  margin-left: 10px;
}
.topnav-icon {
  text-decoration: none;
  display: flex;
  color: #fff;
}


@media screen and (max-width: 992px) {
  .visible-md {
    display: block;
  }
}
@media screen and (max-width: 768px) {
  .visible-sm {
    display: block;
  }
  .nav-brand {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .hidden-sm {
    display: none;
  }
}