<mat-toolbar color="primary" class="fix-nav">
<!--    <button type="button" mat-icon-button class="visible-md" (click)="toggleSidebar()">-->
<!--        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>-->
<!--    </button>-->
    <div class="nav-brand">
       CTF Tool
    </div>
    <span class="nav-spacer"></span>
</mat-toolbar>